.bg {
  width: 100vw;
  height: 100%;
  background-color: #1d1d1d !important;
}

/* .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */

.cd1 {
  animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.cd2 {
  animation: slideInRight;
  animation-duration: 1s;
}

.card {
  margin: 10px;
}

.card-text {
  color: #fa923f;
}

.card-row {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

@media (max-width: 1180px) {
  .card-row {
    align-items: center;
  }
  .bg {
    height: 100%;
  }
}

@media (max-width: 980px) {
  .card-row {
    align-items: center;
  }
  .bg {
    height: 100%;
  }
}

@media (max-width: 760px) {
  .cd {
    left: 18px;
  }
  .bg {
    height: 100%;
  }
}

@media (max-width: 200px) {
  .cd {
    right: auto;
  }
  .bg {
    height: 100%;
  }
}
