<div *ngIf="bg" class="bg">
  <div class="middle">
    <div class="container card-row cd1">
      <div class="container-fluid row card-row" id="newscard">
        <div class="card my-5 mx-3 cd" style="width: 18rem;">
          <img src="../../assets/mohan.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Girindra Mohan</h5>
            <p class="card-text">
              I have bechlore of engineering degree in Electronics and
              communication engineering. and I have experiance of web
              devlopment. I have worked with big company like BT(Britise
              Telecome), EE(Everything Everywhere), Comex. I have worked mainly
              on E-commerce website.
            </p>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>

        <div class="card my-5 mx-3 cd" style="width: 18rem;">
          <img src="../../assets/manish.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Manish Kumar</h5>
            <p class="card-text">
              I have bechlore of engineering degree in Computer Sceince
              Engineering. and I have experiance of web devlopment. I have
              worked with big company like BT(Britise Telecome), EE(Everything
              Everywhere), Comex. I have worked mainly on E-commerce website.
            </p>
            <a
              href="https://www.linkedin.com/in/manish-kumar-83b181122"
              class="btn btn-primary"
              >LinkedIn</a
            >
          </div>
        </div>

        <div class="card my-5 mx-3 cd cd2" style="width: 18rem;">
          <img src="../../assets/raj.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Raj Mehta</h5>
            <p class="card-text">
              I have bechlore of engineering degree in Computer Sceince
              Engineering. and I have experiance of web devlopment. I have
              worked with big company like BT(Britise Telecome), EE(Everything
              Everywhere), Comex. I have worked mainly on E-commerce website.
            </p>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
