<div *ngIf="bg" class="bg">
  <div class="middle">
    <h1 class="services">Services</h1>
    <div class="container">
      <div class="container-fluid row card-row" id="newscard">
        <div class="card my-5 mx-3 cd cd1" style="width: 18rem;">
          <img
            src="../../assets/background_11.wide.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">
              We are developing all kind of website that you need with all the
              features. we can develop with any languages such as java,
              javaScript, python, PHP. We are offering low cost and high
              performance website.
            </p>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>

        <div class="card my-5 mx-3 cd" style="width: 18rem;">
          <img
            src="../../assets/background_11.wide.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Mobile App Development</h5>
            <p class="card-text">
              We are developing all kind of Mobile App that you need with all
              the features. we can develop with any languages such as java,
              javaScript, python, Kotlin. We are offering low cost and high
              performance website.
            </p>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>

        <div class="card my-5 mx-3 cd cd2" style="width: 18rem;">
          <img
            src="../../assets/background_11.wide.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Integration</h5>
            <p class="card-text">
              We are integrating all kind of software that you need. we can
              integrate with any languages such as java, javaScript, python,
              Kotlin. We are offering low cost and high performance website.
            </p>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
